@page "/skills/search"
<h3>Skill Filter</h3>

<div class="form-inline">
    <div class="form-group mb-2">
        <label for="title" class="sr-only">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Category Name" @bind-value="title" @bind-value:event="oninput" @onkeypress="@((KeyboardEventArgs e)=>TitleKeyPress(e))" />
    </div>

    <div class="form-group mx-sm-3 mb-2">
        <select class="form-control" @bind="selectedDepartment">
            <option value="0">
                --Select Department
            </option>
            @foreach (var department in departments)
            {
                <option value="@department.Id">@department.DepartmentName</option>
            }
        </select>
    </div><div class="form-group mx-sm-3 mb-2">
        <select class="form-control" @bind="selectedCategory">
            <option value="0">
                --Select Category
            </option>
            @foreach (var category in categories)
            {
                <option value="@category.Id">@category.CategoryName</option>
            }
        </select>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <h4>Skill Level:</h4>
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <input type="checkbox" class="form-check-input" id="one" @bind="one" />
        <label class="form-check-label" for="one">1</label>
    </div>

    <div class="form-group mx-sm-3 mb-2">
        <input type="checkbox" class="form-check-input" id="two" @bind="two" />
        <label class="form-check-label" for="two">2</label>
    </div>

    <div class="form-group mx-sm-3 mb-2">
        <input type="checkbox" class="form-check-input" id="three" @bind="three" />
        <label class="form-check-label" for="three">3</label>
    </div>

    <div class="form-group mx-sm-3 mb-2">
        <input type="checkbox" class="form-check-input" id="four" @bind="four" />
        <label class="form-check-label" for="four">4</label>
    </div>

    <div class="form-group mx-sm-3 mb-2">
        <input type="checkbox" class="form-check-input" id="five" @bind="five" />
        <label class="form-check-label" for="five">5</label>
    </div>
    <button class="btn btn-primary mb-2 mx-sm-3" @onclick="SearchForSkills">Filter</button>
    <button class="btn btn-danger mb-2" @onclick="Clear">Clear</button>
</div>
<CategoriesList Categories="categories"></CategoriesList>